In [145]:
import pandas as pd
from pathlib import Path

path = "data/Metro_ZORI_AllHomesPlusMultifamily_Smoothed.csv"

df = pd.read_csv(path)
df

,RegionID,RegionName,SizeRank,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,...,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12
0,102001,United States,0,1357.0,1363.0,1371.0,1383,1403,1418,1430,...,1751,1748,1746,1747,1747,1738,1734,1728,1737,1740.0
1,394913,"New York, NY",1,2281.0,2301.0,2304.0,2336,2370,2393,2407,...,2755,2741,2725,2706,2673,2607,2556,2501,2479,2469.0
2,753899,"Los Angeles-Long Beach-Anaheim, CA",2,1821.0,1843.0,1853.0,1881,1918,1953,1978,...,2614,2592,2573,2579,2578,2572,2569,2570,2585,2589.0
3,394463,"Chicago, IL",3,1393.0,1405.0,1407.0,1423,1444,1460,1470,...,1670,1667,1667,1667,1662,1649,1630,1613,1605,1608.0
4,394514,"Dallas-Fort Worth, TX",4,1208.0,1197.0,1209.0,1227,1248,1266,1275,...,1587,1581,1576,1581,1586,1585,1586,1588,1602,1612.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,394995,"Port St. Lucie, FL",119,1173.0,1197.0,1184.0,1174,1218,1197,1212,...,1725,1680,1748,1719,1687,1712,1730,1781,1792,1803.0
98,394602,"Fort Collins, CO",159,1104.0,1121.0,1130.0,1171,1210,1223,1235,...,1531,1536,1535,1557,1553,1556,1534,1528,1539,1562.0
99,394405,"Boulder, CO",162,1568.0,1550.0,1550.0,1562,1608,1627,1656,...,2068,2048,2058,2055,2060,2059,2067,2069,2081,2109.0
100,394645,"Greeley, CO",177,1185.0,1145.0,1160.0,1118,1129,1168,1218,...,1609,1592,1598,1596,1597,1604,1625,1634,1621,1614.0
101,394623,"Gainesville, GA",229,937.0,955.0,956.0,968,962,974,969,...,1338,1338,1326,1329,1287,1325,1363,1391,1400,1414.0

In [206]:
combined = df[df['RegionName'].str.contains('-')]
combined

,RegionName,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,2014-08,2014-09,...,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12
2,"Dallas-Fort Worth, TX",1208.0,1197.0,1209.0,1227,1248,1266,1275,1281,1282,...,1587,1581,1576,1581,1586,1585,1586,1588,1602,1612.0
6,"Miami-Fort Lauderdale, FL",1518.0,1513.0,1516.0,1524,1535,1544,1559,1569,1581,...,1876,1869,1859,1858,1861,1864,1862,1870,1885,1901.0
14,"Minneapolis-St Paul, MN",1173.0,1174.0,1185.0,1195,1217,1237,1254,1252,1254,...,1550,1548,1544,1546,1540,1536,1530,1523,1551,1538.0
40,"Louisville-Jefferson County, KY",761.0,797.0,785.0,787,804,819,827,830,831,...,994,990,998,1010,1011,1022,1021,1022,1019,1028.0
69,"North Port-Sarasota-Bradenton, FL",1676.0,1682.0,1669.0,1708,1697,1685,1692,1709,1705,...,2144,2134,2151,2128,2154,2148,2159,2197,2232,2245.0
75,"Winston-Salem, NC",927.0,959.0,942.0,944,957,961,969,966,965,...,1176,1169,1172,1183,1190,1208,1215,1217,1223,1205.0

In [208]:
combined['RegionName'].unique()

array(['Dallas-Fort Worth, TX', 'Miami-Fort Lauderdale, FL',
       'Minneapolis-St Paul, MN', 'Louisville-Jefferson County, KY',
       'North Port-Sarasota-Bradenton, FL', 'Winston-Salem, NC'],
      dtype=object)

In [217]:
combined_metros = {}

for m in combined['RegionName'].unique():
    cities = m[:-4].split('-')
    for c in cities:
        print(f'{c}{str(m[-4:])}')
        print(str(m))
        combined_metros[f'{c}{str(m[-4:])}']= str(m)

print(combined_metros)

Dallas, TX
Dallas-Fort Worth, TX
Fort Worth, TX
Dallas-Fort Worth, TX
Miami, FL
Miami-Fort Lauderdale, FL
Fort Lauderdale, FL
Miami-Fort Lauderdale, FL
Minneapolis, MN
Minneapolis-St Paul, MN
St Paul, MN
Minneapolis-St Paul, MN
Louisville, KY
Louisville-Jefferson County, KY
Jefferson County, KY
Louisville-Jefferson County, KY
North Port, FL
North Port-Sarasota-Bradenton, FL
Sarasota, FL
North Port-Sarasota-Bradenton, FL
Bradenton, FL
North Port-Sarasota-Bradenton, FL
Winston, NC
Winston-Salem, NC
Salem, NC
Winston-Salem, NC
{'Dallas, TX': 'Dallas-Fort Worth, TX', 'Fort Worth, TX': 'Dallas-Fort Worth, TX', 'Miami, FL': 'Miami-Fort Lauderdale, FL', 'Fort Lauderdale, FL': 'Miami-Fort Lauderdale, FL', 'Minneapolis, MN': 'Minneapolis-St Paul, MN', 'St Paul, MN': 'Minneapolis-St Paul, MN', 'Louisville, KY': 'Louisville-Jefferson County, KY', 'Jefferson County, KY': 'Louisville-Jefferson County, KY', 'North Port, FL': 'North Port-Sarasota-Bradenton, FL', 'Sarasota, FL': 'North Port-Sarasota-Bradenton, FL', 'Bradenton, FL': 'North Port-Sarasota-Bradenton, FL', 'Winston, NC': 'Winston-Salem, NC', 'Salem, NC': 'Winston-Salem, NC'}

In [153]:
df = df.drop(0)
df = df.drop(["RegionID", "SizeRank"], axis =1)

In [183]:

melted = df.melt(["RegionName"], var_name="Date", value_name = "RentIndex")
melted['Date'] = pd.to_datetime(melted['Date'], infer_datetime_format=True)
melted

                 RegionName       Date  RentIndex
0              New York, NY 2014-01-01     2281.0
1     Dallas-Fort Worth, TX 2014-01-01     1208.0
2          Philadelphia, PA 2014-01-01     1304.0
3               Houston, TX 2014-01-01     1243.0
4            Washington, DC 2014-01-01     1776.0
...                     ...        ...        ...
8815         Long Beach, CA 2020-12-01     2589.0
8816            Anaheim, CA 2020-12-01     2589.0
8817        Los Angeles, CA 2020-12-01     2589.0
8818         Long Beach, CA 2020-12-01     2589.0
8819            Anaheim, CA 2020-12-01     2589.0

[8820 rows x 3 columns]

In [194]:
melted["RegionName"].unique()

array(['New York, NY', 'Dallas-Fort Worth, TX', 'Philadelphia, PA',
       'Houston, TX', 'Washington, DC', 'Miami-Fort Lauderdale, FL',
       'Atlanta, GA', 'Boston, MA', 'San Francisco, CA', 'Detroit, MI',
       'Riverside, CA', 'Phoenix, AZ', 'Seattle, WA',
       'Minneapolis-St Paul, MN', 'San Diego, CA', 'St. Louis, MO',
       'Tampa, FL', 'Baltimore, MD', 'Denver, CO', 'Pittsburgh, PA',
       'Portland, OR', 'Charlotte, NC', 'Sacramento, CA',
       'San Antonio, TX', 'Orlando, FL', 'Cincinnati, OH',
       'Cleveland, OH', 'Kansas City, MO', 'Las Vegas, NV',
       'Columbus, OH', 'Indianapolis, IN', 'San Jose, CA', 'Austin, TX',
       'Virginia Beach, VA', 'Providence, RI', 'Milwaukee, WI',
       'Jacksonville, FL', 'Memphis, TN', 'Oklahoma City, OK',
       'Louisville-Jefferson County, KY', 'Hartford, CT', 'Richmond, VA',
       'New Orleans, LA', 'Buffalo, NY', 'Raleigh, NC', 'Birmingham, AL',
       'Salt Lake City, UT', 'Rochester, NY', 'Grand Rapids, MI',
       'Tucson, AZ', 'Urban Honolulu, HI', 'Tulsa, OK', 'Fresno, CA',
       'Worcester, MA', 'Stamford, CT', 'Albuquerque, NM', 'Albany, NY',
       'Omaha, NE', 'New Haven, CT', 'Bakersfield, CA', 'Greenville, SC',
       'Allentown, PA', 'El Paso, TX', 'Baton Rouge, LA', 'Dayton, OH',
       'Columbia, SC', 'Greensboro, NC', 'Akron, OH',
       'North Port-Sarasota-Bradenton, FL', 'Little Rock, AR',
       'Stockton, CA', 'Charleston, SC', 'Syracuse, NY',
       'Colorado Springs, CO', 'Winston-Salem, NC', 'Wichita, KS',
       'Springfield, MA', 'Fort Myers, FL', 'Boise City, ID',
       'Toledo, OH', 'Madison, WI', 'Lakeland, FL', 'Ogden, UT',
       'Daytona Beach, FL', 'Des Moines, IA', 'Jackson, MS',
       'Youngstown, OH', 'Augusta, GA', 'Harrisburg, PA', 'Melbourne, FL',
       'Chattanooga, TN', 'Spokane, WA', 'Provo, UT', 'Durham, NC',
       'Port St. Lucie, FL', 'Fort Collins, CO', 'Boulder, CO',
       'Greeley, CO', 'Gainesville, GA', 'Los Angeles, CA',
       'Long Beach, CA', 'Anaheim, CA'], dtype=object)

In [223]:
cities = melted["RegionName"].unique()
interpol = []
num = 0

for c in cities:

    mask = melted['RegionName'] == c
    chunk = (melted[mask]
             .drop('RegionName', 1)
             .set_index('Date')
             .resample(rule="M")
             .mean()
             .interpolate()
             .reset_index()
             .reset_index()
             .rename({"index":"TimeIndex"}, axis=1))
    chunk['RegionName'] = c
    num+=1
    interpol.append(chunk)
    

melted = pd.concat(interpol, ignore_index=True)

In [226]:
melted['Month'] = melted['Date'].dt.month
melted['Year'] = melted['Date'].dt.year
melted.drop('Date', 1)

      TimeIndex  RentIndex    RegionName  Month  Year
0             0     2281.0  New York, NY      1  2014
1             1     2301.0  New York, NY      2  2014
2             2     2304.0  New York, NY      3  2014
3             3     2336.0  New York, NY      4  2014
4             4     2370.0  New York, NY      5  2014
...         ...        ...           ...    ...   ...
8563         79     2572.0   Anaheim, CA      8  2020
8564         80     2569.0   Anaheim, CA      9  2020
8565         81     2570.0   Anaheim, CA     10  2020
8566         82     2585.0   Anaheim, CA     11  2020
8567         83     2589.0   Anaheim, CA     12  2020

[8568 rows x 5 columns]

In [231]:
def process_df() -> pd.DataFrame:
    path = "data/Metro_ZORI_AllHomesPlusMultifamily_Smoothed.csv"
    df = pd.read_csv(path)
    
    # Drop United States, extra columns
    df = df.drop(0)
    df = df.drop(["RegionID", "SizeRank"], axis =1)
    
    # Melt data and parse dates.
    df = df.melt(["RegionName"], var_name="Date", value_name = "RentIndex")
    df['Date'] = pd.to_datetime(melted['Date'], infer_datetime_format=True)
    
    # Add interpolate missing data
    cities = df["RegionName"].unique()
    interpol = []
    num = 0

    for c in cities:

        mask = df['RegionName'] == c
        chunk = (df[mask]
                 .drop('RegionName', 1)
                 .set_index('Date')
                 .resample(rule="M")
                 .mean()
                 .interpolate()
                 .reset_index()
                 .reset_index()
                 .rename({"index":"TimeIndex"}, axis=1))
        chunk['RegionName'] = c
        num+=1
        interpol.append(chunk)

    df = pd.concat(interpol, ignore_index=True)
    
    # Region Name to Categorical
    df['RegionName'] = df['RegionName'].astype("category")
    
    # Extract month and year
    df['Month'] = df['Date'].dt.month
    df['Year'] = df['Date'].dt.year
    df = df.drop('Date', 1)
    return(df)

In [232]:
process_df()

      TimeIndex  RentIndex       RegionName  Month  Year
0             0     2281.0     New York, NY      1  2014
1             1     2393.0     New York, NY      2  2014
2             2     2415.0     New York, NY      3  2014
3             3     2480.0     New York, NY      4  2014
4             4     2530.0     New York, NY      5  2014
...         ...        ...              ...    ...   ...
8479         79     1299.0  Gainesville, GA      8  2020
8480         80     1318.0  Gainesville, GA      9  2020
8481         81     1349.0  Gainesville, GA     10  2020
8482         82     1287.0  Gainesville, GA     11  2020
8483         83     1414.0  Gainesville, GA     12  2020

[8484 rows x 5 columns]

In [233]:
from tensorflow import keras

In [234]:
import tensorflow as tf
tf.test.is_built_with_cuda()

True

In [235]:
tf.config.list_physical_devices('GPU')

[]